<template>
    
    <div>

        <v-form  method="POST" id="form" action="/login" ref="form" v-model="valid">

            <csrf-token></csrf-token>

            <v-card>

                <v-card-title> Login </v-card-title>

                <v-divider></v-divider>

                <v-card-text>

                    <v-container grid-list-md grid-list-sm>

                        <v-layout wrap>

                            <v-flex sm12>

                                <v-text-field v-model="email" name="email" type="email" :rules="[$root.rules.required, $root.rules.email]" label="E-mail"></v-text-field>

                            </v-flex>

                            <v-flex sm12>

                                <v-text-field v-model="password" name="password"  type="password"  :rules="[$root.rules.required]" label="Password"></v-text-field>

                            </v-flex>

                        </v-layout>

                    </v-container>

                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>

                    <v-spacer></v-spacer>

                    <v-btn :loading="loading"  flat class="primary" :disabled="valid == false" @click.stop="validate"> Login </v-btn>

                </v-card-actions>

            </v-card>

        </v-form>

    </div>

</template>

<script>
    export default {

        data () {

            return {

                email : '',

                password : '',

                valid: false,

                loading: false

            }

        },

        mounted() {

        },

        /**
         * 
         */
        methods: {
            
            /**
             * 
             */
            validate: function()
            {
                if (this.$refs.form.validate()) {

                    this.doLogin();

                }
            },

            /**
             * 
             */
            doLogin: function()
            {
                this.loading = true;
                
                document.getElementById('form').submit();
            }

        },
    }
</script>
