<template>
    
    <div>

        <v-form  method="POST" id="form" action="/register" ref="form" v-model="valid">

            <csrf-token></csrf-token>

            <v-card>

                <v-card-title> Register </v-card-title>

                <v-divider></v-divider>

                <v-card-text>

                    <v-container grid-list-md grid-list-sm>

                        <v-layout wrap>

                            <v-flex sm6>

                                <v-text-field v-model="first_name" name="first_name"  :rules="[$root.rules.required]" :label="$t('first_name')"></v-text-field>

                            </v-flex>

                            <v-flex sm6>

                                <v-text-field v-model="last_name" name="last_name"  :rules="[$root.rules.required]" :label="$t('last_name')"></v-text-field>

                            </v-flex>

                            <v-flex sm12>

                                <v-text-field v-model="email" name="email" type="email" :rules="[$root.rules.required, $root.rules.email]" :label="$t('email')"></v-text-field>

                            </v-flex>

                            <v-flex sm12>

                                <v-text-field v-model="password" name="password"  type="password"  :rules="[$root.rules.required]" :label="$t('password')"></v-text-field>

                            </v-flex>

                            <v-flex sm12>

                                <v-text-field v-model="password_confirmation" name="password_confirmation"  type="password"  :rules="[$root.rules.required, rules.passwordConfirm]" :label="$t('password_confirmation')"></v-text-field>

                            </v-flex>

                        </v-layout>

                    </v-container>

                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>

                    <v-spacer></v-spacer>

                    <v-btn :loading="loading"  flat class="primary" :disabled="valid == false" @click.stop="validate"> Register </v-btn>

                </v-card-actions>

            </v-card>

        </v-form>

    </div>

</template>

<script>
    export default {

        data () {

            return {

                first_name : '',

                last_name: '',

                email : '',

                password : '',

                password_confirmation : '',

                valid: false,

                loading: false,

                rules : {

                    passwordConfirm: value =>  value == this.password || this.$t('passwords must match'),

                }

            }

        },

        mounted() {

        },

        /**
         * 
         */
        methods: {
            
            /**
             * 
             */
            validate: function()
            {
                if (this.$refs.form.validate()) {

                    this.doLogin();

                }
            },

            /**
             * 
             */
            doLogin: function()
            {
                this.loading = true;
                
                document.getElementById('form').submit();
            }

        },
    }
</script>
