<template>

    <div>

        <v-card>

            <v-card-title>Home</v-card-title>


            <v-card-text></v-card-text>

        </v-card>

    </div>
    
</template>

<script>

    export default {

        

        /**
         * 
         */
        data () {

            return {

                
               
            }
        },
        
        /**
         * 
         */
        mounted() {

        },
        
        /**
         * 
         */
        computed: {

        },

        /**
         * 
         */
        methods:
        {
            
        }

    }
</script>
