<template>


    <v-navigation-drawer :disable-route-watcher="false" :dark="$root.dark"  :clipped="$vuetify.breakpoint.mdAndUp" app v-model="drawer" >

        <template v-if="menu !== null">

            <v-list>

                <template v-for="item in filteredMenu">

                    <v-list-group v-if="item.children" no-action v-model="item.active" :key="item.title" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">

                        <v-list-tile slot="activator">

                            <v-list-tile-content>

                                <v-list-tile-title> {{ item.title }} </v-list-tile-title>

                            </v-list-tile-content>

                        </v-list-tile>

                        <v-list-tile @click="forceDrawerToFalse" ripple  v-for="(child, i) in item.children" :key="i" :to="{ path:  child.path }" >

                            <v-list-tile-content>

                                <v-list-tile-title> {{ child.title }} </v-list-tile-title>

                            </v-list-tile-content>
                            
                        </v-list-tile>

                    </v-list-group>

                    <v-list-tile @click="forceDrawerToFalse" v-else :to="{ path: item.path }" :key="item.title">
                        
                        <v-list-tile-action>
                            
                            <v-icon>{{ item.icon }}</v-icon>

                        </v-list-tile-action>
                        
                        <v-list-tile-content>

                            <v-list-tile-title> {{ item.title }} </v-list-tile-title>

                        </v-list-tile-content>

                    </v-list-tile>

                </template>

            </v-list>

        </template>
      
    </v-navigation-drawer>

    
</template>

<script>

    export default {

        props: {

            admin : {

                type: Boolean,

                default: false
            }

        },

        data () {

            return {

                drawer : false,

                menu : window.App.side_bar,

            }
        },
        
        /**
         * 
         */
        mounted() {


        },

        /**
         * 
         */
        computed: {

            /**
             * filter admin items from menu
             * show only if user has admin role
             */
            filteredMenu: function () {

                let new_menu = [];

                this.menu.forEach(item => {

                    if(item.admin == false || (item.admin == true && this.admin == true)){

                        new_menu.push(item);
                    }

                });

                return new_menu;

            }
        },

        methods: {
            
            /**
             */
            forceDrawerToFalse: function ()
            {
                this.drawer =  false;
            }

        },

    }
</script>

<style>

    .v-navigation-drawer__border {
        border: 0px !important;
        width: 0px !important;
    }

    #sidebar-app-title .v-toolbar__content {
        display:grid !important;
    }

    #sidebar-app-title.theme--light.v-toolbar {
        background:#1976d2 !important;
        color: white;
    }

</style>
