<template>

    <v-toolbar flat app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed >

        <v-toolbar-side-icon  @click.stop="$emit('toggle-drawer')"></v-toolbar-side-icon>

        <v-toolbar-title> {{ appName }} </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>

            <v-menu v-model="menu" offset-y :close-on-content-click="false">

                <v-btn icon ripple slot="activator">
                    
                    <v-icon>more_vert</v-icon>
                    
                </v-btn>

                <v-card width="200px">

                    <v-divider></v-divider>

                    <v-card-text>

                        <v-container>

                            <v-layout row wrap>

                                <v-flex sm12>

                                    <h6 class="title">{{ $root.user.first_name }} {{ $root.user.last_name }}</h6>

                                    <span class="body-3 grey--text">{{ $root.user.email }}</span>

                                </v-flex>

                            </v-layout>

                        </v-container>

                    </v-card-text>

                    <v-divider></v-divider>
                    
                    <v-card-actions class="pa-3">

                        <v-spacer></v-spacer>

                        <v-btn small flat @click="doLogout"> {{ $t('logout') }} </v-btn>

                    </v-card-actions>

                </v-card>            
            
            </v-menu>

        </v-toolbar-items>

    </v-toolbar>
    
</template>

<script>

    export default {

        props: {

            appName: {

                type : String,

                default: function () { return '' },

            },

            logged : {
                
                type: Boolean,

                default: function () { return false },
            },

        },


        /**
         * 
         */
        data () {

            return {

                menu : false
               
            }
        },
        
        /**
         * 
         */
        mounted() {

        },
        
        /**
         * 
         */
        computed: {

        },

        /**
         * 
         */
        methods:
        {
            /**
             * 
             */
            doLogout: function()
            {

                let logout_form = document.getElementById("logout-form");

                /**
                 * create if not exists
                 */
                if (logout_form === null) {

                    logout_form = this.createLogoutForm();
                }

                logout_form.submit();

            },

            /**
             * 
             */
            createLogoutForm: function()
            {
                let logout_form = document.createElement('form');

                logout_form.id = 'logout-form';

                logout_form.method = 'POST';

                logout_form.action = '/logout';

                let csrf_token = document.createElement('input');

                csrf_token.type = 'hidden';
                
                csrf_token.name = '_token';

                csrf_token.value = document.head.querySelector('meta[name="csrf-token"]').content;

                logout_form.appendChild(csrf_token);

                document.body.appendChild(logout_form);

                return logout_form;
            },
        }

    }
</script>

<style> </style>
