<template>
    
    <v-content>

        <v-container fill-height grid-list-xl>

            <v-layout column>

                <v-flex>

                    <v-container  fill-height>

                        <v-layout justify-center>

                            <div class="flex-center position-ref ">
                                
                                <div class="code"> {{ code }} </div>

                                <div class="message" style="padding: 10px;"> {{ message }} </div>

                            </div>

                        </v-layout>

                    </v-container>
                
                </v-flex>
            
                <v-flex v-if="countdown">

                    <div class="flex-center">

                        <template v-if="counter > 0">

                            You will be redirect to <a class="mr-1 ml-1" style="text-decoration:none;" href="/">homepage</a> in <v-icon>{{ counter_icon }}</v-icon> second{{ counter == 1 ? '' : 's' }}
                        </template>

                        <template v-else>

                            Please wait...
                        
                        </template>


                    </div>
                
                </v-flex>

            </v-layout>

        </v-container>

    </v-content>

</template>

<style scoped>
    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .code {
        border-right: 2px solid;
        font-size: 26px;
        padding: 0 15px 0 15px;
        text-align: center;
    }

    .message {
        font-size: 18px;
        text-align: center;
    }
</style>


<script>


    export default {

        props : {

            code : {

                type: Number,

                default: 0

            },

            message : {

                type: String,

                default: ''

            },

            countdown: {

                type: Boolean, 

                default: true
            }

        },

        data() {

            return {

                counter : 5,

                interval: null,

                counter_icon: 'looks_5'
                
            }
        },

        /**
         * 
         */
        mounted() {

            if(this.countdown)
            {

                this.start_countdown();

            }

        },
        
        /**
         * 
         */
        watch: {
            
            /**
             * 
             */
            counter: function()
            {

                if(this.counter > 2)
                {
                    this.counter_icon = 'looks_' + this.counter;

                }else if(this.counter == 2)
                {
                    this.counter_icon = 'looks_two';

                }else if(this.counter == 1)
                {
                    this.counter_icon = 'looks_one';
                }

            }

        },

        /**
         * 
         */
        methods: {
            
            /**
             * 
             */
            start_countdown: function()
            {
                this.interval = setInterval(this.handle_countdown, 1000);
            },

            /**
             * 
             */
            handle_countdown: function()
            {
                if(this.counter > 0){

                    this.counter--;

                }else{

                    this.stop_countdown();
                }
            },

            /**
             * 
             */
            stop_countdown: function()
            {
                clearInterval(this.interval);

                document.location.href = process.env.MIX_404_REDIRECT;

            }


        },

    }
</script>
