<template>

    <div>

        <v-snackbar top :color="color" :auto-height="auto_heigth" v-model="snackbar" :timeout="timeout">

            <template v-if="typeof snackbar_content == 'object' ">

                <v-container grid-list-sm style="padding:0px;">
                                    
                    <v-layout wrap>

                        <v-flex xs12 v-for="(item, index) in snackbar_content" :key="index">

                            <ul style="list-style-type: none;">
                                
                                <li v-for="(snack_item, j) in item" :key="j" >
                                    
                                    <b>{{ index }}</b> : {{ snack_item }}
                                
                                </li>
                            
                            </ul>

                        </v-flex>

                    </v-layout>

                </v-container> 

            </template>

            <template v-else>

                {{ snackbar_content }}

            </template>

            <v-btn dark flat @click.native="snackbar = false"> Chiudi </v-btn>

        </v-snackbar>

    </div>

</template>

<script>

    export default {

        data () {

            return {

                errors : '',

                status : '',

                warning: '', 

                success: '',

                color: '',

                auto_heigth: true,

                snackbar: false,

                snackbar_content: '',

                timeout: 3000

            }

        },

        /**
         * 
         */
        watch: {

            /**
             *  status
             */
            status: function()
            {   
                this.status = this.$root.status;

                this.showAlert();

            },

            /**
             * 
             */
            errors: function()
            {
                this.errors = this.$root.errors;

                this.showAlert();

            },

            /**
             * 
             */
            warning: function()
            {
                this.warning = this.$root.warning;

                this.showAlert();

            },

            /**
             * 
             */
            success: function(newVal, oldVal)
            {
                
                this.success = this.$root.success;

                this.showAlert();
                
            }

        },

        /**
         * 
         */
        mounted() {

            this.status  = this.$root.status;

            this.warning = this.$root.warning;

            this.errors  = this.$root.errors;

            this.success = this.$root.success;
            
            this.showAlert();

        },

        /**
         * 
         */
        methods:
        {
            /**
             * 
             */
            showAlert: function()
            {
                let snackbar = false;

                /**
                 * 
                 */
                if(this.status.length > 0){
                    this.snackbar_content = this.status;
                    this.color = 'info';
                    snackbar = true;
                }
                
                /**
                 * 
                 */
                if(this.warning.length > 0){
                    this.snackbar_content = this.warning;
                    this.color = 'warning';
                    snackbar = true;
                }
                
                /**
                 * 
                 */
                if( typeof this.errors.length == 'undefined'){

                    this.snackbar_content = this.errors;
                    this.color = 'error';
                    snackbar = true;
                }

                /**
                 * 
                 */
                if( this.success.length > 0){
                    this.snackbar_content = this.success;
                    this.color = 'success';
                    snackbar = true;
                }

                this.snackbar = snackbar;

                /**
                 *
                 */
                if(this.snackbar == true) setTimeout(this.reset, 2000);

            },

            /**
             * 
             */
            reset: function()
            {   
                this.$root.resetNotifications();
            }
           
        }
    }
</script>
