<template>

    <v-toolbar flat app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed >

        <v-spacer></v-spacer>

        <v-toolbar-items>

            <template v-if="!logged">

                <v-btn flat to="/login"> {{ $t('login') }} </v-btn>

                <v-btn flat to="/register"> {{ $t('register') }} </v-btn>

            </template>

            <template v-else>

                <v-btn flat href="/home"> {{ $t('home') }} </v-btn>

            </template>

        </v-toolbar-items>

    </v-toolbar>
    
</template>

<script>

    export default {

        props: {

            appName: {

                type : String,

                default: function () { return '' },

            },

            logged : {
                
                type: Boolean,

                default: function () { return false },
            },

        },


        /**
         * 
         */
        data () {

            return {
               
            }
        },
        
        /**
         * 
         */
        mounted() {


            console.log(this.appName);

        },
        
        /**
         * 
         */
        computed: {

        },

        /**
         * 
         */
        methods:
        {

        }

    }
</script>

<style> </style>
